[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/blaze"]
	path = external/blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
[submodule "external/catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch.git
